*{
	transition:all .5s;
}
body{
	background: #666;
}
#canvas{
	width: 800px;
	margin: auto;
	height: 500px;
	background-image: url('bg.jpg');
	background-size: cover;
	border: 10px solid #fff;
	position: absolute;
}

#balloon{
	width: 10em;
	height: 5em;
	border-radius: 5px;
	background: #fff;
	color: #000;
	padding: 1em;
	overflow: auto;
	position: relative;
	top: 5em;
}

#home{
    position: absolute;
    top: 13em;
    left: 35em;
    width: 17em;
}

#car{
    position: absolute;
    top: 20em;
    left: 1em;
    width: 11em;
}

#tree{
	position: absolute;
    top: 12em;
    left: 12em;
    width: 11em;
}

#sun{
	position: absolute;
    width: 9em;
    left: 28em;
    top: 2em;
}

#artist{
	background: yellow;
	position: absolute;
	display: block;
	bottom: 10em;
	width: 7em;
	height: 2em;
	padding: 1em;
	box-shadow: 1em 1em gray;
}
#artist:hover{
	box-shadow: 1em 1em 1em gray;
}

